<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chinaPress.exam.exam_record.dao.FcExamRecordMapper">
  <resultMap id="BaseResultMap" type="chinaPress.exam.exam_record.model.FcExamRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="exam_id" jdbcType="INTEGER" property="examId" />
    <result column="exam_signup_id" jdbcType="INTEGER" property="examSignupId" />
    <result column="exam_signup_area_id" jdbcType="INTEGER" property="examSignupAreaId" />
    <result column="signup_user_id" jdbcType="INTEGER" property="signupUserId" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="complete_time" jdbcType="TIMESTAMP" property="completeTime" />
    <result column="grade" jdbcType="DECIMAL" property="grade" />
  </resultMap>
  <sql id="Base_Column_List">
    id, exam_id, exam_signup_id, exam_signup_area_id, signup_user_id, report_time, complete_time, 
    grade
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fc_exam_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fc_exam_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insertSelective" parameterType="chinaPress.exam.exam_record.model.FcExamRecord">
    insert into fc_exam_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="examId != null">
        exam_id,
      </if>
      <if test="examSignupId != null">
        exam_signup_id,
      </if>
      <if test="examSignupAreaId != null">
        exam_signup_area_id,
      </if>
      <if test="signupUserId != null">
        signup_user_id,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="completeTime != null">
        complete_time,
      </if>
      <if test="grade != null">
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examId != null">
        #{examId,jdbcType=INTEGER},
      </if>
      <if test="examSignupId != null">
        #{examSignupId,jdbcType=INTEGER},
      </if>
      <if test="examSignupAreaId != null">
        #{examSignupAreaId,jdbcType=INTEGER},
      </if>
      <if test="signupUserId != null">
        #{signupUserId,jdbcType=INTEGER},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null">
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="chinaPress.exam.exam_record.model.FcExamRecord">
    update fc_exam_record
    <set>
      <if test="examId != null">
        exam_id = #{examId,jdbcType=INTEGER},
      </if>
      <if test="examSignupId != null">
        exam_signup_id = #{examSignupId,jdbcType=INTEGER},
      </if>
      <if test="examSignupAreaId != null">
        exam_signup_area_id = #{examSignupAreaId,jdbcType=INTEGER},
      </if>
      <if test="signupUserId != null">
        signup_user_id = #{signupUserId,jdbcType=INTEGER},
      </if>
      <if test="reportTime != null">
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null">
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectByUserExam"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fc_exam_record
    where exam_signup_id = #{signupId,jdbcType=INTEGER}
    	  and exam_signup_area_id = #{areaId,jdbcType=INTEGER}
    	  and exam_id = #{examId,jdbcType=INTEGER}
    	  and signup_user_id = #{userId,jdbcType=INTEGER}
  </select>
  
</mapper>