<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="chinaPress.fc.course.dao.FcCourseArchivesMapper">
	<resultMap id="BaseResultMap"
		type="chinaPress.fc.course.model.FcCourseArchives">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="attribute" jdbcType="VARCHAR" property="attribute" />
		<result column="category_id" jdbcType="INTEGER"
			property="categoryId" />
		<result column="course_price" jdbcType="DECIMAL"
			property="coursePrice" />
		<result column="course_number" jdbcType="INTEGER"
			property="courseNumber" />
		<result column="renew_price" jdbcType="DECIMAL"
			property="renewPrice" />
		<result column="remarks" jdbcType="VARCHAR" property="remarks" />
		<result column="photo" jdbcType="VARCHAR" property="photo" />
		<result column="speaker" jdbcType="VARCHAR" property="speaker" />
		<result column="is_putaway" jdbcType="INTEGER"
			property="isPutaway" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="create_id" jdbcType="INTEGER"
			property="createId" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="update_id" jdbcType="INTEGER"
			property="updateId" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
		<result column="is_delete" jdbcType="INTEGER"
			property="isDelete" />
	</resultMap>
	<sql id="Base_Column_List">
		id, `name`, `type`, category_id, course_price, course_number,
		renew_price, remarks, speaker, attribute,
		photo, is_putaway, `state`, create_id, create_time, update_id,
		update_time,is_delete
	</sql>
	
	<!-- 根据分类id查询关联课程 -->
	<select id="selectCourseByCategoryId"
		resultType="chinaPress.fc.course.vo.CourseArchivesNewVo"
		parameterType="java.lang.Integer">
		select
			a.id,
			a.name courseName,
			a.name as courseName,
			a.type as courseType,
			b.`name` as categoryName,
			a.course_price as coursePrice,
			a.course_number as courseNumber,
			a.renew_price as renewPrice,
			a.remarks as remarks,
			a.photo as photo,
			a.update_time as updateTime,
			a.speaker,
			a.attribute
		from fc_course_archives a
		left join fc_course_category b on a.category_id = b.id
		<where>
			a.is_putaway = 1
			<if test="categoryId != null">
				and a.category_id = #{categoryId}
			</if>
		</where>
	</select>
	
	<!-- 查询课程详情 -->
	<select id="selectCourseArchivesById"
		resultType="chinaPress.fc.course.vo.CourseArchivesNewVo"
		parameterType="java.lang.Integer">
		select
			a.id as `id`,
			a.name as courseName,
			a.type as courseType,
			b.`name` as categoryName,
			a.course_price as coursePrice,
			a.course_number as courseNumber,
			a.renew_price as renewPrice,
			a.remarks as remarks,
			a.photo as photo,
			a.update_time as updateTime,
			a.speaker,
			a.attribute
		from fc_course_archives a
		left join fc_course_category b on a.category_id = b.id
		where a.id = #{id}
	</select>
	
	<!-- 查询首页随机5条课程 -->
	<select id="selectPageIndexCourse"
		resultType="chinaPress.fc.course.vo.PageIndexCourseVo">
		select
			a.id,
			a.name as courseName,
			a.type as courseType,
			a.course_price as coursePrice,
			a.remarks as remarks,
			a.photo as photo,
			b.name as categoryName,
			a.attribute
		from 
			fc_course_archives a
		left join fc_course_category b on a.category_id = b.id
		where 
			a.is_putaway = 1 
			and a.state = 1 
			and a.is_delete = 0 
			and a.category_id = 2
		order by 
			rand() 
		limit 
			2
	</select>
	
	<!-- 课程数量 -->
	<select id="selectCourseArchivesCount"
		resultType="java.lang.Integer"
		parameterType="chinaPress.fc.course.vo.CourseArchivesParam">
		select
		count(*)
		from fc_course_archives a
		left join fc_course_category b on a.category_id = b.id
		<where>
			<if test="record.name != null and record.name != ''">
				and a.name like concat('%',#{record.name},'%')
			</if>
			<if test="record.type != null">
				and a.type = #{record.type}
			</if>
			<if test="record.categoryId != null">
				and a.category_id = #{record.categoryId}
			</if>
		</where>
	</select>
	
	<!-- 课程列表 -->
	<select id="selectCourseArchivesList"
		resultType="chinaPress.fc.course.vo.CourseArchivesVo"
		parameterType="chinaPress.fc.course.vo.CourseArchivesParam">
		select
			a.id as `id`,
			a.name as courseName,
			case a.type
			when 1 then '免费'
			when 2 then '付费'
			when 3 then '认证课程'
			else '' end as type,
			b.name as categoryName,
			a.is_putaway as isPutaway
		from fc_course_archives a
		left join fc_course_category b on a.category_id = b.id
		<where>
			<if test="record.name != null and record.name != ''">
				and a.name like concat('%',#{record.name},'%')
			</if>
			<if test="record.type != null">
				and a.type = #{record.type}
			</if>
			<if test="record.categoryId != null">
				and a.category_id = #{record.categoryId}
			</if>
		</where>
		<if test="offset != null and rows != null">
			limit #{offset}, #{rows}
		</if>
	</select>
	
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fc_course_archives
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from fc_course_archives
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective"
		parameterType="chinaPress.fc.course.model.FcCourseArchives"
		useGeneratedKeys="true" keyProperty="id">
		insert into fc_course_archives
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				`name`,
			</if>
			<if test="type != null">
				`type`,
			</if>
			<if test="categoryId != null">
				category_id,
			</if>
			<if test="coursePrice != null">
				course_price,
			</if>
			<if test="courseNumber != null">
				course_number,
			</if>
			<if test="renewPrice != null">
				renew_price,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="photo != null">
				photo,
			</if>
			<if test="isPutaway != null">
				is_putaway,
			</if>
			<if test="state != null">
				`state`,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateId != null">
				update_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="categoryId != null">
				#{categoryId,jdbcType=INTEGER},
			</if>
			<if test="coursePrice != null">
				#{coursePrice,jdbcType=DECIMAL},
			</if>
			<if test="courseNumber != null">
				#{courseNumber,jdbcType=INTEGER},
			</if>
			<if test="renewPrice != null">
				#{renewPrice,jdbcType=DECIMAL},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="photo != null">
				#{photo,jdbcType=VARCHAR},
			</if>
			<if test="isPutaway != null">
				#{isPutaway,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				#{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="chinaPress.fc.course.model.FcCourseArchives">
		update fc_course_archives
		<set>
			<if test="name != null">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				`type` = #{type,jdbcType=INTEGER},
			</if>
			<if test="categoryId != null">
				category_id = #{categoryId,jdbcType=INTEGER},
			</if>
			<if test="coursePrice != null">
				course_price = #{coursePrice,jdbcType=DECIMAL},
			</if>
			<if test="courseNumber != null">
				course_number = #{courseNumber,jdbcType=INTEGER},
			</if>
			<if test="renewPrice != null">
				renew_price = #{renewPrice,jdbcType=DECIMAL},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="photo != null">
				photo = #{photo,jdbcType=VARCHAR},
			</if>
			<if test="isPutaway != null">
				is_putaway = #{isPutaway,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				`state` = #{state,jdbcType=INTEGER},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				update_id = #{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>