<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chinaPress.fc.book_catalog.dao.FcBookCatalogMapper">
  <resultMap id="BaseResultMap" type="chinaPress.fc.book_catalog.model.FcBookCatalog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="catalog_photo" jdbcType="VARCHAR" property="catalogPhoto" />
    <result column="photo_sort" jdbcType="VARCHAR" property="photoSort" />
  </resultMap>
  <sql id="Base_Column_List">
    id, book_id, catalog_photo, photo_sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fc_book_catalog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fc_book_catalog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="chinaPress.fc.book_catalog.model.FcBookCatalog">
    insert into fc_book_catalog (id, book_id, catalog_photo, 
      photo_sort)
    values (#{id,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, #{catalogPhoto,jdbcType=VARCHAR}, 
      #{photoSort,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="chinaPress.fc.book_catalog.model.FcBookCatalog">
    insert into fc_book_catalog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="catalogPhoto != null">
        catalog_photo,
      </if>
      <if test="photoSort != null">
        photo_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="catalogPhoto != null">
        #{catalogPhoto,jdbcType=VARCHAR},
      </if>
      <if test="photoSort != null">
        #{photoSort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="chinaPress.fc.book_catalog.model.FcBookCatalog">
    update fc_book_catalog
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="catalogPhoto != null">
        catalog_photo = #{catalogPhoto,jdbcType=VARCHAR},
      </if>
      <if test="photoSort != null">
        photo_sort = #{photoSort,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="chinaPress.fc.book_catalog.model.FcBookCatalog">
    update fc_book_catalog
    set book_id = #{bookId,jdbcType=INTEGER},
      catalog_photo = #{catalogPhoto,jdbcType=VARCHAR},
      photo_sort = #{photoSort,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 20200717  删除书籍目录  wyj -->
  <delete id="deleteByBookId" parameterType="java.lang.Integer">
    delete from fc_book_catalog
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
</mapper>