<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="chinaPress.role.teacher.dao.RoleTeacherArchivesMapper">
	<resultMap id="BaseResultMap"
		type="chinaPress.role.teacher.model.RoleTeacherArchives">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="photo" jdbcType="VARCHAR" property="photo" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="id_card" jdbcType="VARCHAR" property="idCard" />
		<result column="grade" jdbcType="VARCHAR" property="grade" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="work_address" jdbcType="VARCHAR" property="workAddress" />
		<result column="education" jdbcType="VARCHAR" property="education" />
		<result column="position" jdbcType="VARCHAR" property="position" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="tell_phone" jdbcType="VARCHAR" property="tellPhone" />
		<result column="create_id" jdbcType="INTEGER"
			property="createId" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="update_id" jdbcType="INTEGER"
			property="updateId" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, `name`,photo, id_card, grade, create_id, create_time, update_id,
		update_time, sex, work_address, education, position, address, tell_phone
	</sql>
	<select id="selectTeacherById"
		resultType="chinaPress.role.teacher.vo.TeacherArchivesParam">
		select
		id as `id`,
		name as `name`,
		id_card as idCard,
		grade,
		photo
		from role_teacher_archives
		where id = #{id}
	</select>
	
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from role_teacher_archives
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectByIdCard" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from role_teacher_archives
		where id_card = #{idCard}
	</select>
	
	<!-- 证书分数查询 -->
	<select id="selectTeacherCertificate"
		resultType="chinaPress.role.teacher.vo.TeacherCertificateVo">
		select
			a.id as `id`,
			a.photo as photo,
			a.name as `name`,
			a.id_card as idCard,
			a.grade as grade,
			case b.certificate_type
			when 1 then '教师资格证'
			when 2 then '学历证书'
			when 3 then '认证行为分析治疗室'
			end as certificateType,
			b.photo as certificatePhoto
		from 
			role_teacher_archives a
		left join fc_certificate_archives b on a.id = b.role_id
		<where>
			<if test="name != null and name != ''">
				and a.name like concat('%',#{name},'%')
			</if>
			<if test="idCard != null and idCard != ''">
				and a.id_card like concat('%',#{idCard},'%')
			</if>
			<if test="type == 1">
				and a.grade >= 70 and b.role_type = 4
			</if>
			<if test="certificateType != null">
				and b.certificate_type = #{certificateType}
			</if>
			<if test="certificateCode != null and certificateCode != ''">
				and b.code like concat('%', #{certificateCode} ,'%')
			</if>			
		</where>
	</select>
	<select id="selectcertificateList"
		resultType="chinaPress.role.member.model.CertificateInfo">
		select
		id,role_id as roleId, certificate_type certificateType,photo as photo
		from fc_certificate_archives
		where role_id = #{roleId} and role_type = #{roleType}
	</select>
	
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from role_teacher_archives
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective"
		parameterType="chinaPress.role.teacher.model.RoleTeacherArchives"
		useGeneratedKeys="true" keyProperty="id">
		insert into role_teacher_archives
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="photo != null">
				`photo`,
			</if>
			<if test="name != null">
				`name`,
			</if>
			<if test="idCard != null">
				id_card,
			</if>
			<if test="grade != null">
				grade,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateId != null">
				update_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="workAddress != null">
				work_address,
			</if>
			<if test="education != null">
				education,
			</if>
			<if test="position != null">
				position,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="tellPhone != null">
				tell_phone,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="photo != null">
				#{photo,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=VARCHAR},
			</if>
			<if test="grade != null">
				#{grade,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				#{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sex != null">
				#{sex},
			</if>
			<if test="workAddress != null">
				#{workAddress},
			</if>
			<if test="education != null">
				#{education},
			</if>
			<if test="position != null">
				#{position},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="tellPhone != null">
				#{tellPhone},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="chinaPress.role.teacher.model.RoleTeacherArchives">
		update role_teacher_archives
		<set>
			<if test="photo != null">
				`photo` = #{photo,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				id_card = #{idCard,jdbcType=VARCHAR},
			</if>
			<if test="grade != null">
				grade = #{grade,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				update_id = #{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sex != null">
				sex = #{sex},
			</if>
			<if test="workAddress != null">
				work_address = #{workAddress},
			</if>
			<if test="education != null">
				education = #{education},
			</if>
			<if test="position != null">
				position = #{position},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="tellPhone != null">
				tell_phone = #{tellPhone},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>