<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chinaPress.fc.self_test.dao.FcSelfTestMapper">
  <resultMap id="BaseResultMap" type="chinaPress.fc.self_test.model.FcSelfTest">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_type" jdbcType="INTEGER" property="roleType" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="is_pass" jdbcType="INTEGER" property="isPass" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <!-- 详情 resultMap -->
  <resultMap type="chinaPress.fc.self_test.vo.FcSelfTestDetailVo" id="DetailResultMap">
  	<id column="e_id" jdbcType="INTEGER" property="id" />
  	<result column="e_score" jdbcType="DECIMAL" property="score" />
  	<result column="f_name" jdbcType="VARCHAR" property="courseName" />
  	<collection property="stemList" ofType="chinaPress.fc.self_test.vo.FcSelfTestStemDetailVo">
  		<id column="a_id" jdbcType="INTEGER" property="id" />
  		<result column="c_id" jdbcType="INTEGER" property="stemId" />
  		<result column="c_name" jdbcType="VARCHAR" property="stemName" />
  		<result column="c_type" jdbcType="INTEGER" property="stemType" />
  		<collection property="optionList" ofType="chinaPress.fc.self_test.vo.FcSelfTestStemOptionDetailVo">
  			<id column="b_id" jdbcType="INTEGER" property="id" />
  			<result column="d_id" jdbcType="INTEGER" property="optionId" />
  			<result column="d_option_type" jdbcType="INTEGER" property="optionType" />
  			<result column="d_option_name" jdbcType="VARCHAR" property="optionName" />
  			<result column="b_is_select" jdbcType="INTEGER" property="isSelect" />
  			<result column="d_is_correct" jdbcType="INTEGER" property="isCorrect" />
  		</collection>
  	</collection>
  </resultMap>
  
  <sql id="Base_Column_List">
    id, role_id, role_type, course_id, score, is_pass, `state`, create_id, create_time, update_id, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fc_self_test
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="chinaPress.fc.self_test.model.FcSelfTest">
    insert into fc_self_test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="score != null">
      	score,
      </if>
      <if test="isPass != null">
        is_pass,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
      	#{score},
      </if>
      <if test="isPass != null">
        #{isPass,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="chinaPress.fc.self_test.model.FcSelfTest">
    update fc_self_test
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
      	score = #{score},
      </if>
      <if test="isPass != null">
        is_pass = #{isPass,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 详情 -->
  <select id="detail" resultMap="DetailResultMap">
  	SELECT
		e.id AS e_id,
		f.`name` AS f_name,
		e.score AS e_score,
		a.id AS a_id,
		c.id AS c_id,
		c.question_stem AS c_name,
		c.question_type AS c_type,
		b.id AS b_id,
		d.id AS d_id,
		d.option_type AS d_option_type,
		d.option_name AS d_option_name,
		b.is_select AS b_is_select,
		d.is_correct AS d_is_correct
	FROM
		fc_self_test e
	INNER JOIN fc_self_test_stem a ON a.test_id = e.id
	INNER JOIN fc_self_test_stem_option b ON b.test_stem_id = a.id
	INNER JOIN fc_question_stem c ON c.id = a.stem_id
	INNER JOIN fc_question_option d ON d.id = b.option_id
	INNER JOIN fc_course_archives f ON f.id = e.course_id
	WHERE e.id = #{id}
  </select>
  
  <!-- 数据数量 -->
  <select id="count" resultType="int" parameterType="chinaPress.fc.self_test.vo.FcSelfTestListParam">
  	SELECT
		count(*)
	FROM
		fc_self_test a
	INNER JOIN fc_course_archives b ON b.id = a.course_id 
	<where>
		<if test="roleId != null">AND a.role_id = #{roleId} </if>
		<if test="roleType != null">AND a.role_type = #{roleType} </if>
		<if test="courseName != null and courseName != ''">AND b.`name` LIKE CONCAT('%', #{courseName}, '%')</if>
	</where>
  </select>
  
  <!-- 数据集合 -->
  <select id="list" resultType="chinaPress.fc.self_test.vo.FcSelfTestListVo" 
  	parameterType="chinaPress.fc.self_test.vo.FcSelfTestListParam">
  	SELECT
		a.id,
		b.`name` AS courseName,
		a.score AS score,
		b.course_number AS courseNumber
	FROM
		fc_self_test a
	INNER JOIN fc_course_archives b ON b.id = a.course_id 
	<where>
		<if test="roleId != null">AND a.role_id = #{roleId} </if>
		<if test="roleType != null">AND a.role_type = #{roleType} </if>
		<if test="courseName != null and courseName != ''">AND b.`name` LIKE CONCAT('%', #{courseName}, '%')</if>
	</where>
	<if test="pageNumber != null and pageSize != null">LIMIT #{offSet}, #{pageSize}</if>
  </select>
</mapper>