<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chinaPress.role.member.dao.TrainInstitutionInfoMapper">
  <resultMap id="BaseResultMap" type="chinaPress.role.member.model.TrainInstitutionInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="certificate_number" jdbcType="VARCHAR" property="certificateNumber" />
    <result column="register_name" jdbcType="VARCHAR" property="registerName" />
    <result column="register_tell" jdbcType="VARCHAR" property="registerTell" />
    <result column="register_certificate" jdbcType="VARCHAR" property="registerCertificate" />
    <result column="register_provice" jdbcType="VARCHAR" property="registerProvice" />
    <result column="register_city" jdbcType="VARCHAR" property="registerCity" />
    <result column="register_area" jdbcType="VARCHAR" property="registerArea" />
    <result column="register_address" jdbcType="VARCHAR" property="registerAddress" />
    <result column="business_provice" jdbcType="VARCHAR" property="businessProvice" />
    <result column="business_city" jdbcType="VARCHAR" property="businessCity" />
    <result column="business_area" jdbcType="VARCHAR" property="businessArea" />
    <result column="business_address" jdbcType="VARCHAR" property="businessAddress" />
    <result column="business_photo" jdbcType="VARCHAR" property="businessPhoto" />
    <result column="practitioner_photo" jdbcType="VARCHAR" property="practitionerPhoto" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="audit_status" jdbcType="INTEGER" property="auditStatus" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enterprise_code" jdbcType="VARCHAR" property="enterpriseCode" />
    <result column="user_head" jdbcType="VARCHAR" property="userHead" />
    <result column="is_flag" jdbcType="INTEGER" property="isFlag" />
    <result column="register_post" jdbcType="VARCHAR" property="registerPost" />
    <!-- 20200714  wyj   add 机构详情字段 -->
    <result column="scope_business" jdbcType="VARCHAR" property="scopeBusiness" />
    <result column="org_profile" jdbcType="VARCHAR" property="orgProfile" />
    <result column="service_content" jdbcType="VARCHAR" property="serviceContent" />
    <result column="school_style" jdbcType="VARCHAR" property="schoolStyle" />
    <result column="teacher_ranks" jdbcType="VARCHAR" property="teacherRanks" />
    <result column="other_reveal" jdbcType="VARCHAR" property="otherReveal" />
     <result column="source" jdbcType="INTEGER" property="source" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, code, legal_person, certificate_number, register_name, register_tell, 
    register_certificate, register_provice, register_city, register_area, register_address, 
    business_provice, business_city, business_area, business_address, business_photo, 
    practitioner_photo, user_name, `password`, audit_status, `state`, create_id, create_time, 
    update_id, update_time, enterprise_code,user_head,is_flag,register_post,scope_business,
    org_profile,service_content,school_style,teacher_ranks,other_reveal,source
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role_institution_archives
    where id = #{id,jdbcType=INTEGER}
  </select>
   
   <select id="selectTrainInstitutionAll" parameterType="chinaPress.role.member.model.TrainInstitutionInfo" resultType="chinaPress.role.member.vo.InstitutionVo">
    select 
        a.id as id,
    	a.name as name,
    	a.code as code,
    	a.legal_person as legalPerson,
    	a.certificate_number as certificateNumber,
    	a.register_name as registerName,
    	a.register_tell as registerTell,
    	a.audit_status as auditStatus
    from role_institution_archives a
    where a.state = 1 
	    <if test="name!=null and name!=''">
	    	and a.name like CONCAT('%',#{name},'%')
	    </if>
	    <if test="code!=null and code!=''">
	    	and a.code like CONCAT('%',#{code},'%')
	    </if>
	    <if test="legalPerson!=null and legalPerson!=''">
	    	and a.legal_person like CONCAT('%',#{legalPerson},'%')
	    </if>
	    <if test="registerTell!=null and registerTell!=''">
	    	and a.register_tell like CONCAT('%',#{registerTell},'%')
	    </if>
	order by a.create_time desc
	limit #{page} , #{limit}
  </select>
  
  <!-- 公司地区和公司名称查询培训机构信息 -->
  <select id="selectInstAndEmpInfo" resultType="chinaPress.role.member.vo.InstitutionAndEmpInfo">
	select a.business_provice as area,
		   a.name as name,
		   count(b.institution_id) as count
	from role_institution_archives a
	left join fc_binding_info b
	on a.id = b.institution_id
	where b.binding_role_type = 4
		  and b.reply_status in (1,2,3)
		  <if test="area!=null and area!=''">
	    	and a.business_provice = #{area}           <!-- 地区 -->
	      </if>
	      <if test="name!=null and name!=''">
	    	and a.name like CONCAT('%',#{name},'%')              <!-- 机构名称 -->
	      </if>
	group by a.business_provice,
	         a.name
	limit #{page} , #{limit}
  </select>
  
  <!-- 公司地区和公司名称查询培训机构信息个数 -->
  <select id="selectInstAndEmpInfoCount" resultType="java.lang.Integer">
	select count(*)
    from role_institution_archives 
    where id in (select institution_id from fc_binding_info where binding_role_type = 4 and reply_status in (1,2,3))
    	  <if test="area!=null and area!=''">
	    	and business_provice = #{area}
	      </if>
	      <if test="name!=null and name!=''">
	    	and name like CONCAT('%',#{name},'%')
	      </if>
  </select>
  
  <select id="selectCount" parameterType="chinaPress.role.member.model.TrainInstitutionInfo" resultType="java.lang.Integer">
    select count(*)
    from role_institution_archives a,role_staff_archives b
    where a.state = 1 and b.role_type = 2 and a.id = b.role_id
	    <if test="name!=null and name!=''">
	    	and a.name like CONCAT('%',#{name},'%')
	    </if>
	    <if test="code!=null and code!=''">
	    	and a.code like CONCAT('%',#{code},'%')
	    </if>
	    <if test="legalPerson!=null and legalPerson!=''">
	    	and a.legal_person like CONCAT('%',#{legalPerson},'%')
	    </if>
	    <if test="registerTell!=null and registerTell!=''">
	    	and a.register_tell like CONCAT('%',#{registerTell},'%')
	    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role_institution_archives
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="chinaPress.role.member.model.TrainInstitutionInfo">
    insert into role_institution_archives
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="userHead != null">
        user_head,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="legalPerson != null">
        legal_person,
      </if>
      <if test="certificateNumber != null">
        certificate_number,
      </if>
      <if test="registerName != null">
        register_name,
      </if>
      <if test="registerTell != null">
        register_tell,
      </if>
      <if test="registerCertificate != null">
        register_certificate,
      </if>
      <if test="registerProvice != null">
        register_provice,
      </if>
      <if test="registerCity != null">
        register_city,
      </if>
      <if test="registerPost != null">
        register_post,
      </if>
      <if test="registerArea != null">
        register_area,
      </if>
      <if test="registerAddress != null">
        register_address,
      </if>
      <if test="businessProvice != null">
        business_provice,
      </if>
      <if test="businessCity != null">
        business_city,
      </if>
      <if test="businessArea != null">
        business_area,
      </if>
      <if test="businessAddress != null">
        business_address,
      </if>
      <if test="businessPhoto != null">
        business_photo,
      </if>
      <if test="practitionerPhoto != null">
        practitioner_photo,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="enterpriseCode != null">
        enterprise_code,
      </if>
      <if test="isFlag != null">
        is_flag,
      </if>
      <if test="scopeBusiness != null">
        scope_business,
      </if>
      <if test="orgProfile != null">
        org_profile,
      </if>
      <if test="serviceContent != null">
        service_content,
      </if>
      <if test="schoolStyle != null">
        school_style,
      </if>
      <if test="teacherRanks != null">
        teacher_ranks,
      </if>
      <if test="otherReveal != null">
        other_reveal,
      </if>
       <if test="source != null">
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userHead != null">
        #{userHead,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerName != null">
        #{registerName,jdbcType=VARCHAR},
      </if>
      <if test="registerTell != null">
        #{registerTell,jdbcType=VARCHAR},
      </if>
      <if test="registerCertificate != null">
        #{registerCertificate,jdbcType=VARCHAR},
      </if>
      <if test="registerProvice != null">
        #{registerProvice,jdbcType=VARCHAR},
      </if>
      <if test="registerCity != null">
        #{registerCity,jdbcType=VARCHAR},
      </if>
      <if test="registerPost != null">
        #{registerPost,jdbcType=VARCHAR},
      </if>
      <if test="registerArea != null">
        #{registerArea,jdbcType=VARCHAR},
      </if>
      <if test="registerAddress != null">
        #{registerAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessProvice != null">
        #{businessProvice,jdbcType=VARCHAR},
      </if>
      <if test="businessCity != null">
        #{businessCity,jdbcType=VARCHAR},
      </if>
      <if test="businessArea != null">
        #{businessArea,jdbcType=VARCHAR},
      </if>
      <if test="businessAddress != null">
        #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessPhoto != null">
        #{businessPhoto,jdbcType=VARCHAR},
      </if>
      <if test="practitionerPhoto != null">
        #{practitionerPhoto,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterpriseCode != null">
        #{enterpriseCode,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        #{isFlag,jdbcType=INTEGER},
      </if>
       
      <if test="scopeBusiness != null">
        #{scopeBusiness,jdbcType=VARCHAR},
      </if>
      <if test="orgProfile != null">
        #{orgProfile,jdbcType=VARCHAR},
      </if>
      <if test="serviceContent != null">
        #{serviceContent,jdbcType=VARCHAR},
      </if>
      <if test="schoolStyle != null">
        #{schoolStyle,jdbcType=VARCHAR},
      </if>
      <if test="teacherRanks != null">
        #{teacherRanks,jdbcType=VARCHAR},
      </if>
      <if test="otherReveal != null">
        #{otherReveal,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id">
          SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="chinaPress.role.member.model.TrainInstitutionInfo">
    update role_institution_archives
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
       <if test="userHead != null">
        user_head = #{userHead,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerName != null">
        register_name = #{registerName,jdbcType=VARCHAR},
      </if>
      <if test="registerPost != null">
        register_post = #{registerPost,jdbcType=VARCHAR},
      </if>
      <if test="registerTell != null">
        register_tell = #{registerTell,jdbcType=VARCHAR},
      </if>
      <if test="registerCertificate != null">
        register_certificate = #{registerCertificate,jdbcType=VARCHAR},
      </if>
      <if test="registerProvice != null">
        register_provice = #{registerProvice,jdbcType=VARCHAR},
      </if>
      <if test="registerCity != null">
        register_city = #{registerCity,jdbcType=VARCHAR},
      </if>
      <if test="registerArea != null">
        register_area = #{registerArea,jdbcType=VARCHAR},
      </if>
      <if test="registerAddress != null">
        register_address = #{registerAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessProvice != null">
        business_provice = #{businessProvice,jdbcType=VARCHAR},
      </if>
      <if test="businessCity != null">
        business_city = #{businessCity,jdbcType=VARCHAR},
      </if>
      <if test="businessArea != null">
        business_area = #{businessArea,jdbcType=VARCHAR},
      </if>
      <if test="businessAddress != null">
        business_address = #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessPhoto != null">
        business_photo = #{businessPhoto,jdbcType=VARCHAR},
      </if>
      <if test="practitionerPhoto != null">
        practitioner_photo = #{practitionerPhoto,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterpriseCode != null">
        enterprise_code = #{enterpriseCode,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        is_flag = #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="scopeBusiness != null">
        scope_business = #{scopeBusiness,jdbcType=VARCHAR},
      </if>
      <if test="orgProfile != null">
        org_profile = #{orgProfile,jdbcType=VARCHAR},
      </if>
      <if test="serviceContent != null">
        service_content = #{serviceContent,jdbcType=VARCHAR},
      </if>
      <if test="schoolStyle != null">
        school_style = #{schoolStyle,jdbcType=VARCHAR},
      </if>
      <if test="teacherRanks != null">
        teacher_ranks = #{teacherRanks,jdbcType=VARCHAR},
      </if>
      <if test="otherReveal != null">
        other_reveal = #{otherReveal,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>