<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chinaPress.fc.apply.dao.FcApplyPersonMapper">
	<resultMap id="BaseResultMap"
		type="chinaPress.fc.apply.model.FcApplyPerson">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="apply_id" jdbcType="INTEGER" property="applyId" />
		<result column="role_id" jdbcType="INTEGER" property="roleId" />
		<result column="role_type" jdbcType="INTEGER" property="roleType" />
		<result column="create_id" jdbcType="INTEGER" property="createId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_id" jdbcType="INTEGER" property="updateId" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<!-- 20200827   wyj   add  添加姓名,性别,年龄,学历,身份证号,手机号,岗位,工作年限,户籍所在地,详细工作,籍贯,民族,机构名称,邮寄地址,用户名-->
		<result column="person_name" jdbcType="VARCHAR" property="personName" />
		<result column="person_sex" jdbcType="INTEGER" property="personSex" />
		<result column="person_age" jdbcType="INTEGER" property="personAge" />
		<result column="person_education" jdbcType="VARCHAR" property="personEducation" />
		<result column="certificate_number" jdbcType="VARCHAR" property="certificateNumber" />
		<result column="tell_phone" jdbcType="VARCHAR" property="tellPhone" />
		<result column="post" jdbcType="VARCHAR" property="post" />
		<result column="work_year" jdbcType="INTEGER" property="workYear" />
		<result column="provice_city_area" jdbcType="VARCHAR" property="proviceCityArea" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="mailing_address" jdbcType="VARCHAR" property="mailingAddress" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="person_ethnic" jdbcType="VARCHAR" property="personEthnic" />
		<result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
		<result column="institution_name" jdbcType="VARCHAR" property="institutionName" />
	</resultMap>
	<sql id="Base_Column_List">
		id, apply_id, role_id, role_type, 
		person_name,person_sex,person_age,person_education,certificate_number,tell_phone,
		post,work_year,provice_city_area,address,mailing_address,user_name,person_ethnic,native_place,institution_name,
		create_id, create_time, update_id,update_time
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fc_apply_person
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="findByApplyId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fc_apply_person
		where apply_id = #{applyId,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from fc_apply_person
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective"
		parameterType="chinaPress.fc.apply.model.FcApplyPerson">
		insert into fc_apply_person
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="applyId != null">
				apply_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="roleType != null">
				role_type,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateId != null">
				update_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<!-- 20200827  wyj  add -->
			<if test="personName != null">
				person_name,
			</if>
			<if test="personSex != null">
				person_sex,
			</if>
			<if test="personAge != null">
				person_age,
			</if>
			<if test="personEducation != null">
				person_education,
			</if>
			<if test="certificateNumber != null">
				certificate_number,
			</if>
			<if test="tellPhone != null">
				tell_phone,
			</if>
			<if test="post != null">
				post,
			</if>
			<if test="workYear != null">
				work_year,
			</if>
			<if test="proviceCityArea != null">
				provice_city_area,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="mailingAddress != null">
				mailing_address,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="personEthnic != null">
				person_ethnic,
			</if>
			<if test="nativePlace != null">
				native_place,
			</if>
			<if test="institutionName != null">
				institution_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="applyId != null">
				#{applyId,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="roleType != null">
				#{roleType,jdbcType=INTEGER},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				#{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<!-- 20200827  wyj  add -->
			<if test="personName != null">
				#{personName,jdbcType=VARCHAR},
			</if>
			<if test="personSex != null">
				#{personSex,jdbcType=INTEGER},
			</if>
			<if test="personAge != null">
				#{personAge,jdbcType=INTEGER},
			</if>
			<if test="personEducation != null">
				#{personEducation,jdbcType=VARCHAR},
			</if>
			<if test="certificateNumber != null">
				#{certificateNumber,jdbcType=VARCHAR},
			</if>
			<if test="tellPhone != null">
				#{tellPhone,jdbcType=VARCHAR},
			</if>
			<if test="post != null">
				#{post,jdbcType=VARCHAR},
			</if>
			<if test="workYear != null">
				#{workYear,jdbcType=INTEGER},
			</if>
			<if test="proviceCityArea != null">
				#{proviceCityArea,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="mailingAddress != null">
				#{mailingAddress,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="personEthnic != null">
				#{personEthnic,jdbcType=VARCHAR},
			</if>
			<if test="nativePlace != null">
				#{nativePlace,jdbcType=VARCHAR},
			</if>
			<if test="institutionName != null">
				#{institutionName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="chinaPress.fc.apply.model.FcApplyPerson">
		update fc_apply_person
		<set>
			<if test="applyId != null">
				apply_id = #{applyId,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=INTEGER},
			</if>
			<if test="roleType != null">
				role_type = #{roleType,jdbcType=INTEGER},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				update_id = #{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<!-- 20200827  wyj  add -->
			<if test="personName != null">
				person_name = #{personName,jdbcType=VARCHAR},
			</if>
			<if test="personSex != null">
				person_sex = #{personSex,jdbcType=INTEGER},
			</if>
			<if test="personAge != null">
				person_age = #{personAge,jdbcType=INTEGER},
			</if>
			<if test="personEducation != null">
				person_education = #{personEducation,jdbcType=VARCHAR},
			</if>
			<if test="certificateNumber != null">
				certificate_number = #{certificateNumber,jdbcType=VARCHAR},
			</if>
			<if test="tellPhone != null">
				tell_phone = #{tellPhone,jdbcType=VARCHAR},
			</if>
			<if test="post != null">
				post = #{post,jdbcType=VARCHAR},
			</if>
			<if test="workYear != null">
				work_year = #{workYear,jdbcType=INTEGER},
			</if>
			<if test="proviceCityArea != null">
				provice_city_area = #{proviceCityArea,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="mailingAddress != null">
				mailing_address = #{mailingAddress,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="personEthnic != null">
				person_ethnic = #{personEthnic,jdbcType=VARCHAR},
			</if>
			<if test="nativePlace != null">
				native_place = #{nativePlace,jdbcType=VARCHAR},
			</if>
			<if test="institutionName != null">
				institution_name = #{institutionName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 终端 数据数量 -->
	<select id="findTerminalCount" resultType="int"
		parameterType="chinaPress.fc.apply.vo.TerminalApplyPersonListParam">
		SELECT
		count(*)
		FROM
		fc_apply_person a
		LEFT JOIN role_practitioner_archives b ON b.id = a.role_id
		WHERE a.apply_id = #{applyId}
		<if test="name != null and name != ''">AND b.`name` LIKE CONCAT('%', #{name}, '%')</if>
	</select>

	<!-- 终端 数据集合 -->
	<select id="findTerminalList"
		resultType="chinaPress.fc.apply.vo.TerminalApplyPersonListVo"
		parameterType="chinaPress.fc.apply.vo.TerminalApplyPersonListParam">
		SELECT
			a.id,
			b.`name`,
			b.sex AS sex,
			b.ethnic,
			b.education AS education,
			b.certificate_number AS certificateNumber,
			b.tell_phone AS tellPhone,
			b.post as post,
			b.work_year as workYear,
			b.native_place nativePlace,
			b.census_address as censusAddress,
			b.institution_address institutionAddress,
			b.mailing_address mailingAddress
		FROM
			fc_apply_person a
		LEFT JOIN role_practitioner_archives b ON b.id = a.role_id
		WHERE
			a.apply_id = #{applyId}
			<if test="name != null and name != ''">AND b.`name` LIKE CONCAT('%', #{name}, '%')</if>
			<if test="pageNumber != null and pageSize != null">LIMIT #{offSet}, #{pageSize}</if>
	</select>
</mapper>