<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="chinaPress.exam.exam_signup.dao.FcExamSignupAreaMapper">
	<resultMap id="BaseResultMap"
		type="chinaPress.exam.exam_signup.model.FcExamSignupArea">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="signup_id" jdbcType="INTEGER"
			property="signupId" />
		<result column="province" jdbcType="VARCHAR"
			property="province" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="area" jdbcType="VARCHAR" property="area" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="signup_start_time" jdbcType="TIMESTAMP" property="signupStartTime" />
		<result column="signup_end_time" jdbcType="TIMESTAMP" property="signupEndTime" />
		<result column="max_count" jdbcType="INTEGER" property="maxCount" />
		<result column="is_putaway" jdbcType="INTEGER" property="isPutaway" />
	</resultMap>
	<sql id="Base_Column_List">
		id, signup_id, province, city, area, address, start_time, end_time,
		max_count, is_putaway, signup_start_time, signup_end_time
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fc_exam_signup_area
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from fc_exam_signup_area
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="chinaPress.exam.exam_signup.model.FcExamSignupArea">
		insert into fc_exam_signup_area (id, signup_id, province,
		city, area, address, signup_start_time, signup_end_time,
		start_time, end_time, max_count, is_putaway)
		values (#{id,jdbcType=INTEGER}, #{signupId,jdbcType=INTEGER},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{signupStartTime,jdbcType=TIMESTAMP}, #{signupEndTime,jdbcType=TIMESTAMP},
		#{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
		#{maxCount,jdbcType=INTEGER}, #{isPutaway,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="chinaPress.exam.exam_signup.model.FcExamSignupArea">
		insert into fc_exam_signup_area
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="signupId != null">
				signup_id,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="area != null">
				area,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="signupStartTime != null">
				signup_start_time,
			</if>
			<if test="signupEndTime != null">
				signup_end_time,
			</if>
			<if test="maxCount != null">
				max_count,
			</if>
			<if test="isPutaway != null">
				is_putaway,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="signupId != null">
				#{signupId,jdbcType=INTEGER},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				#{area,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="signupStartTime != null">
				#{signupStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="signupEndTime != null">
				#{signupEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="maxCount != null">
				#{maxCount,jdbcType=INTEGER},
			</if>
			<if test="isPutaway != null">
				#{isPutaway,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="chinaPress.exam.exam_signup.model.FcExamSignupArea">
		update fc_exam_signup_area
		<set>
			<if test="signupId != null">
				signup_id = #{signupId,jdbcType=INTEGER},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				area = #{area,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="signupStartTime != null">
				signup_start_time = #{signupStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="signupEndTime != null">
				signup_end_time = #{signupEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="maxCount != null">
				max_count = #{maxCount,jdbcType=INTEGER},
			</if>
			<if test="isPutaway != null">
				is_putaway = #{isPutaway,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="chinaPress.exam.exam_signup.model.FcExamSignupArea">
		update fc_exam_signup_area
		set signup_id = #{signupId,jdbcType=INTEGER},
		province = #{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		area = #{area,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		start_time = #{startTime,jdbcType=TIMESTAMP},
		signup_start_time = #{signupStartTime,jdbcType=TIMESTAMP},
		signup_end_time = #{signupEndTime,jdbcType=TIMESTAMP},
		end_time = #{endTime,jdbcType=TIMESTAMP},
		max_count = #{maxCount,jdbcType=INTEGER},
		is_putaway = #{isPutaway,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 根据考试报名id删除 -->
	<delete id="deleteExamSignupAreaBySignupId">
		delete
		from
			fc_exam_signup_area
		where
			signup_id = #{signupId}
	</delete>
	
	<!-- 根据考试报名id查询该考试报名下的区域时间 -->	
	<select id="selectBySignupIdCount" resultType="int">
		select
			count(*)
		from (
			select
				a.*
			from
				fc_exam_signup_area a
				left join fc_exam_signup_user b on a.id = b.area_id
				left join fc_province_city_district c on c.code = a.province
				left join fc_province_city_district d on d.code = a.city
				left join fc_province_city_district e on e.code = a.area
			where
				a.signup_id = #{signupId}
				<if test="province != null and province != ''">
					and a.province = #{province}
				</if>
				<if test="city != null and city != ''">
					and a.city = #{city}
				</if>
				<if test="district != null and district != ''">
					and a.area = #{district}
				</if>
				<if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
					and (
						(
							#{startTime} <![CDATA[>]]> a.start_time
							and #{startTime} <![CDATA[<]]> a.end_time
						)
						or
						(
							#{endTime} <![CDATA[>]]> a.start_time
							and #{endTime} <![CDATA[<]]> a.end_time
						)				
					)
				</if>
				<if test="isPutaway != null">
					and a.is_putaway = #{isPutaway}
				</if>
			group by
				a.id
		) t
	</select>
	
	<!-- 根据考试报名id查询该考试报名下的区域时间 -->	
	<select id="selectBySignupIdList" resultType="chinaPress.exam.exam_signup.vo.FcExamSignupAreaListVo">
		select
			a.id, concat(c.name, ' ', d.name, ' ', IF(ISNULL(e.name) = 1, '', concat(' ', e.name))) address, 
			a.start_time startTime, a.end_time endTime,
			a.max_count count, a.is_putaway isPutaway, count(b.area_id) haveCount
		from
			fc_exam_signup_area a
			left join fc_exam_signup_user b on a.id = b.area_id
			left join fc_province_city_district c on c.code = a.province
			left join fc_province_city_district d on d.code = a.city
			left join fc_province_city_district e on e.code = a.area
		where
			a.signup_id = #{signupId}
			<if test="province != null and province != ''">
				and a.province = #{province}
			</if>
			<if test="city != null and city != ''">
				and a.city = #{city}
			</if>
			<if test="district != null and district != ''">
				and a.area = #{district}
			</if>
			<if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
				and (
					(
						#{startTime} <![CDATA[>]]> a.start_time
						and #{startTime} <![CDATA[<]]> a.end_time
					)
					or
					(
						#{endTime} <![CDATA[>]]> a.start_time
						and #{endTime} <![CDATA[<]]> a.end_time
					)				
				)
			</if>
			<if test="isPutaway != null">
				and a.is_putaway = #{isPutaway}
			</if>
		group by
			a.id
		limit
			#{offset}, #{rows}
	</select>
	
	<!-- 根据考试报名id查询 -->
	<select id="selectBySignupId" resultMap="BaseResultMap">
		select
			*
		from
			fc_exam_signup_area
		where
			signup_id = #{signupId}
	</select>
	
	<!-- 查询是否有别的区域的报名了 -->
	<select id="selectIsOtherSignup" resultMap="BaseResultMap">
		select
			b.*
		from
			fc_exam_signup_user a
			inner join fc_exam_signup_area b on a.area_id = b.id
		where
			a.signup_id = #{signupId}
			and a.area_id != #{signupAreaId}
			and a.role_id = #{roleId}
			and a.role_type = #{roleType}
	</select>
</mapper>