<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="chinaPress.fc.question.dao.FcQuestionStemMapper">
	<resultMap id="BaseResultMap"
		type="chinaPress.fc.question.model.FcQuestionStem">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="course_id" jdbcType="INTEGER"
			property="courseId" />
		<result column="hour_id" jdbcType="INTEGER" property="hourId" />
		<result column="question_type" jdbcType="INTEGER"
			property="questionType" />
		<result column="task_difficulty" jdbcType="INTEGER"
			property="taskDifficulty" />
		<result column="question_stem" jdbcType="VARCHAR"
			property="questionStem" />
		<result column="is_delete" jdbcType="INTEGER"
			property="isDelete" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="create_id" jdbcType="INTEGER"
			property="createId" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="update_id" jdbcType="INTEGER"
			property="updateId" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
		<result column="grade" jdbcType="VARCHAR" property="grade" />
		<result column="analysis" jdbcType="VARCHAR"
			property="analysis" />
		<result column="grade" jdbcType="INTEGER" property="grade" />
		<result column="catalog_id" jdbcType="INTEGER" property="catalogId" />
		<result column="type" jdbcType="INTEGER" property="type" />
	</resultMap>
	<sql id="Base_Column_List">
		id, course_id, hour_id, question_type, `task_difficulty`, question_stem,
		is_delete,
		`state`, create_id, create_time, update_id, update_time,grade,analysis,type,catalog_id
	</sql>
	<!-- 根据课程和课时查询关联的试题 -->
	<select id="selectQuestionStemList"
		resultType="chinaPress.fc.question.vo.FcQuestionStemListVo">
		select
			id `id`,
			question_type questionType,
			task_difficulty taskDifficulty,
			question_stem questionStem,
			grade grade,
			analysis as analysis
		from 
			fc_question_stem
		<where>
			<if test="courseId != null">
				course_id = #{courseId}
			</if>
			<if test="hourId != null">
				hour_id = #{hourId}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fc_question_stem
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from fc_question_stem
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective"
		parameterType="chinaPress.fc.question.model.FcQuestionStem"
		useGeneratedKeys="true" keyProperty="id">
		insert into fc_question_stem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="courseId != null">
				course_id,
			</if>
			<if test="hourId != null">
				hour_id,
			</if>
			<if test="questionType != null">
				question_type,
			</if>
			<if test="taskDifficulty != null">
				`task_difficulty`,
			</if>
			<if test="questionStem != null">
				question_stem,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="state != null">
				`state`,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateId != null">
				update_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="grade != null">
				grade,
			</if>
			<if test="analysis != null">
				analysis,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="catalogId != null">
				catalog_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="courseId != null">
				#{courseId,jdbcType=INTEGER},
			</if>
			<if test="hourId != null">
				#{hourId,jdbcType=INTEGER},
			</if>
			<if test="questionType != null">
				#{questionType,jdbcType=INTEGER},
			</if>
			<if test="taskDifficulty != null">
				#{taskDifficulty,jdbcType=INTEGER},
			</if>
			<if test="questionStem != null">
				#{questionStem,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				#{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="grade != null">
				#{grade,jdbcType=VARCHAR},
			</if>
			<if test="analysis != null">
				#{analysis,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="catalogId != null">
				#{catalogId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="chinaPress.fc.question.model.FcQuestionStem">
		update fc_question_stem
		<set>
			<if test="courseId != null">
				course_id = #{courseId,jdbcType=INTEGER},
			</if>
			<if test="hourId != null">
				hour_id = #{hourId,jdbcType=INTEGER},
			</if>
			<if test="questionType != null">
				question_type = #{questionType,jdbcType=INTEGER},
			</if>
			<if test="taskDifficulty != null">
				`task_difficulty` = #{taskDifficulty,jdbcType=INTEGER},
			</if>
			<if test="questionStem != null">
				question_stem = #{questionStem,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				`state` = #{state,jdbcType=INTEGER},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				update_id = #{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="grade != null">
				grade = #{grade,jdbcType=VARCHAR},
			</if>
			<if test="analysis != null">
				analysis = #{analysis,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="catalogId != null">
				catalog_id = #{catalogId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 查询该视频有没有题 -->
	<select id="selectIsHaveStem" resultMap="BaseResultMap">
		select
			a.*
		from
			fc_question_stem a
		inner join fc_course_hour b on a.hour_id = b.id
		inner join fc_course_section c on b.section_id = c.id
		where
			a.course_id = #{courseId}
			and c.id = #{sectionId}
			and a.type = 1
	</select>
	
	<!-- 根据试题名称个数 -->
	<select id="selectByQuestionStem" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			fc_question_stem 
		WHERE question_stem = #{questionStem}
		<if test="id != null">
				and id != #{id}
		</if>
	</select>
	
	<!-- 根据id查询试题信息 -->
	<select id="selectById" parameterType="java.lang.Integer" resultMap="fcQuestionAndOptionMap">
		select 
			a.id as id,
			a.question_stem as question_stem,
			a.question_type as question_type,
		  	a.task_difficulty as task_difficulty,
			a.catalog_id as catalog_id,
			a.course_id as course_id,
		  	a.hour_id as hour_id,
			b.id as o_id,
			b.option_type as option_type,
		  	b.option_name as option_name,
			b.is_correct as is_correct
		from 
	 		fc_question_stem a 
		left join 
			fc_question_option b
		on a.id = b.stem_id
		where a.id = #{id}
	</select>
	<!-- 封装试题信息的resultMap -->
	<resultMap id="fcQuestionAndOptionMap"  type="chinaPress.fc.question.vo.FcQuestionAndOption">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="question_stem" jdbcType="VARCHAR" property="questionStem" />
		<result column="question_type" jdbcType="INTEGER" property="questionType" />
		<result column="task_difficulty" jdbcType="INTEGER" property="taskDifficulty" />
		<result column="catalog_id" jdbcType="INTEGER" property="catalogId" />
		<result column="course_id" jdbcType="INTEGER" property="courseId" />
		<result column="hour_id" jdbcType="INTEGER" property="hourId" />
		<collection property="options" ofType="chinaPress.fc.question.vo.QuestionOption">
			<id column="o_id" jdbcType="INTEGER" property="oId"/>
			<result column="option_type" jdbcType="INTEGER" property="optionType" />
			<result column="option_name" jdbcType="VARCHAR" property="optionName" />
			<result column="is_correct" jdbcType="INTEGER" property="isCorrect" />
		</collection>
	</resultMap>
	
	<!-- 查询所有试题的抿成 -->
	<select id="selectQuestionStemNameAll" resultType="java.lang.String">
		select 
			a.question_stem
		from 
	 		fc_question_stem a 
	</select>
		
	<!-- 根据试题名称，试题难度，试题分类展示试题信息 -->
	<select id="selectByCatalogIdAll" resultType="chinaPress.fc.question.vo.FcQuestionInfo">
		SELECT
			a.id as id,
			a.question_stem as questionStem,
			b.catalog_name as catalogName,
			c.user_name as userName,
			a.create_time as createTime
		FROM
			fc_question_stem a
		LEFT JOIN 
			fc_question_catalog b 
		ON 
			a.catalog_id = b.id
		LEFT JOIN 
			role_staff_archives c 
		ON 
			a.create_id = c.id
		WHERE
			    1 = 1  <!-- 默认创建人字段为空,暂时不做创建人匹配-->
			<if test="questionStem!=null and questionStem!=''">
				and a.question_stem like concat('%',#{questionStem},'%')
			</if>
			<if test="taskDifficulty != null">
				and a.task_difficulty = #{taskDifficulty}
			</if>
			<if test="catalogId != null">
				and a.catalog_id = #{catalogId}
			</if>
			<if test="type != null">
				and a.type = #{type}
			</if>
		LIMIT #{page} , #{limit}	
	</select>
	
	<!-- 根据试题名称，试题难度，试题分类展示试题个数 -->
	<select id="selectByCatalogIdCount" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			fc_question_stem a
		LEFT JOIN 
			fc_question_catalog b 
		ON 
			a.catalog_id = b.id
		LEFT JOIN 
			role_staff_archives c 
		ON 
			a.create_id = c.id
		WHERE
			    1 = 1  <!-- 试题创建人为空暂时不做创建人匹配-->
			<if test="questionStem !=null and questionStem!=''">
				and a.question_stem like concat('%',#{questionStem},'%')
			</if>
			<if test="taskDifficulty != null">
				and a.task_difficulty = #{taskDifficulty}
			</if>
			<if test="catalogId != null">
				and a.catalog_id = #{catalogId}
			</if>
	</select>
	
	<!-- 查询所有试题信息  关联试题分类,试题答案 -->
	<select id="selectQuestionAll" resultMap="questionMap">
		SELECT
			a.id AS id,
			a.question_stem AS question_stem,
			a.question_type AS question_type,
			a.task_difficulty AS task_difficulty,
			a.catalog_id AS catalog_id,
			a.grade AS grade,
			b.catalog_name AS catalog_name,
			c.id AS o_id,
			c.option_type AS option_type,
			c.option_name AS option_name
		FROM
			fc_question_stem a
		LEFT JOIN fc_question_catalog b ON a.catalog_id = b.id
		LEFT JOIN fc_question_option c ON a.id = c.stem_id
	</select>
	
	<!-- 封装试题信息的resultMap   关联试题分类,试题答案 -->
	<resultMap id="questionMap"  type="chinaPress.fc.question.vo.QuestionVo">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="question_stem" jdbcType="VARCHAR" property="questionStem" />
		<result column="question_type" jdbcType="INTEGER" property="questionType" />
		<result column="task_difficulty" jdbcType="INTEGER" property="taskDifficulty" />
		<result column="catalog_id" jdbcType="INTEGER" property="catalogId" />
		<result column="catalog_name" jdbcType="VARCHAR" property="catalogName" />
		<result column="grade" jdbcType="VARCHAR" property="grade" />
		<collection property="options" ofType="chinaPress.fc.question.vo.QuestionOption">
			<id column="o_id" jdbcType="INTEGER" property="oId"/>
			<result column="option_type" jdbcType="INTEGER" property="optionType" />
			<result column="option_name" jdbcType="VARCHAR" property="optionName" />
		</collection>
	</resultMap>
	
	
	<!-- 查询所有试题信息  关联试题分类,试题答案 -->
	<select id="selectQuestionNameInfo" resultType="chinaPress.fc.question.vo.QuestionNameVo">
			SELECT
				b.catalog_name AS catalogName,
				CASE
					WHEN a.question_type = 1 THEN
						'单选'
					WHEN a.question_type = 2 THEN
						'多选'
					WHEN a.question_type = 3 THEN
						'判断'
					END AS questionTypeName,
			 	CASE
					WHEN a.task_difficulty = 1 THEN
						'简单'
					WHEN a.task_difficulty = 2 THEN
						'一般'
					WHEN a.task_difficulty = 3 THEN
						'困难'
					END AS taskDifficultyName,
				count(b.id) AS count	
			FROM
				fc_question_stem a
			LEFT JOIN fc_question_catalog b ON a.catalog_id = b.id
			WHERE
				b.id = #{catalogId}
			AND a.question_type = #{questionType}
			AND a.task_difficulty = #{taskDifficulty}
			GROUP BY  b.catalog_name,a.task_difficulty
			LIMIT 1
	</select>
	
	<resultMap id="DetailResultMap" type="chinaPress.fc.question.vo.QuestionStemDetailVo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="course_id" jdbcType="INTEGER" property="courseId" />
		<result column="course_name" jdbcType="VARCHAR" property="courseName" />
		<result column="hour_id" jdbcType="INTEGER" property="hourId" />
		<result column="hour_name" jdbcType="VARCHAR" property="hourName" />
		<result column="question_type" jdbcType="INTEGER" property="questionType" />
		<result column="task_difficulty" jdbcType="INTEGER" property="taskDifficulty" />
		<result column="question_stem" jdbcType="VARCHAR" property="questionStem" />
		<result column="catalog_id" jdbcType="INTEGER" property="catalogId" />
		<result column="catalog_name" jdbcType="VARCHAR" property="catalogName" />
		<collection property="optionList" ofType="chinaPress.fc.question.vo.FcQuestionOptionVo">
			<id column="option_id" jdbcType="INTEGER" property="id" />
			<result column="option_type" jdbcType="INTEGER" property="optionType" />
			<result column="option_name" jdbcType="VARCHAR" property="optionName" />
			<result column="is_correct" jdbcType="INTEGER" property="isCorrect" />
		</collection>
	</resultMap>
	
	<!-- 题库档案 - 详情 -->
	<select id="detail" resultMap="DetailResultMap">
		SELECT
			a.id,
			a.question_type,
			a.question_stem,
			a.task_difficulty,
			b.id AS course_id,
			b.`name` AS course_name,
			c.id AS catalog_id,
			c.catalog_name,
			d.id AS hour_id,
			d.`name` AS hour_name,
			e.id AS option_id,
			e.option_type,
			e.option_name,
			e.is_correct 
		FROM
			fc_question_stem a
			LEFT JOIN fc_course_archives b ON b.id = a.course_id
			LEFT JOIN fc_question_catalog c ON c.id = a.catalog_id
			LEFT JOIN fc_course_hour d ON d.id = a.hour_id
			LEFT JOIN fc_question_option e ON e.stem_id = a.id
		WHERE a.id = #{id}
	</select>
</mapper>