<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chinaPress.exam.paper.dao.FcPaperStemMapper">
  <resultMap id="BaseResultMap" type="chinaPress.exam.paper.model.FcPaperStem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paper_id" jdbcType="INTEGER" property="paperId" />
    <result column="stem_id" jdbcType="INTEGER" property="stemId" />
    <result column="use_grade" jdbcType="VARCHAR" property="useGrade" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, paper_id, stem_id, use_grade
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fc_paper_stem
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fc_paper_stem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="chinaPress.exam.paper.model.FcPaperStem">
    insert into fc_paper_stem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="stemId != null">
        stem_id,
      </if>
      <if test="useGrade != null">
        use_grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paperId != null">
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="stemId != null">
        #{stemId,jdbcType=INTEGER},
      </if>
      <if test="useGrade != null">
        #{useGrade,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="chinaPress.exam.paper.model.FcPaperStem">
    update fc_paper_stem
    <set>
      <if test="paperId != null">
        paper_id = #{paperId,jdbcType=INTEGER},
      </if>
      <if test="stemId != null">
        stem_id = #{stemId,jdbcType=INTEGER},
      </if>
      <if test="useGrade != null">
        use_grade = #{useGrade,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 试卷id删除试题对应的信息 -->
  <delete id="deleteByPaperId" parameterType="java.lang.Integer">
    delete from fc_paper_stem
    where paper_id = #{paperId,jdbcType=INTEGER}
  </delete>
  
  <!-- 试题id查询是否关联试卷 -->
   <select id="selectByQuestionId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*)
    from fc_paper_stem
    where stem_id = #{stemId,jdbcType=INTEGER}
  </select>
  
  
   <!-- 考试id查询考的总分数 -->
   <select id="selectExamGrade" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select sum(b.use_grade)
	from 
		fc_exam_paper a
	left join 
	  fc_paper_stem b 
	on a.paper_id = b.paper_id 
	where a.exam_id = #{examId}
  </select>
  
</mapper>