<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="chinaPress.fc.coupon.dao.FcDiscountCouponRecordMapper">
	<resultMap id="BaseResultMap"
		type="chinaPress.fc.coupon.model.FcDiscountCouponRecord">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="coupon_id" jdbcType="INTEGER"
			property="couponId" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="grant_role_id" jdbcType="INTEGER"
			property="grantRoleId" />
		<result column="grant_role_type" jdbcType="INTEGER"
			property="grantRoleType" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="grant_time" jdbcType="TIMESTAMP"
			property="grantTime" />
		<result column="use_time" jdbcType="TIMESTAMP"
			property="useTime" />
		<result column="create_id" jdbcType="INTEGER"
			property="createId" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="update_id" jdbcType="INTEGER"
			property="updateId" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, coupon_id, code, grant_role_id, grant_role_type, `status`,
		grant_time, use_time,
		create_id, create_time, update_id, update_time
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fc_discount_coupon_record
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from fc_discount_coupon_record
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="chinaPress.fc.coupon.model.FcDiscountCouponRecord">
		insert into fc_discount_coupon_record (id, coupon_id, code,
		grant_role_id, grant_role_type, `status`,
		grant_time, use_time, create_id,
		create_time, update_id, update_time
		)
		values (#{id,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER},
		#{code,jdbcType=VARCHAR},
		#{grantRoleId,jdbcType=INTEGER}, #{grantRoleType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
		#{grantTime,jdbcType=TIMESTAMP}, #{useTime,jdbcType=TIMESTAMP},
		#{createId,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="chinaPress.fc.coupon.model.FcDiscountCouponRecord">
		insert into fc_discount_coupon_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="couponId != null">
				coupon_id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="grantRoleId != null">
				grant_role_id,
			</if>
			<if test="grantRoleType != null">
				grant_role_type,
			</if>
			<if test="status != null">
				`status`,
			</if>
			<if test="grantTime != null">
				grant_time,
			</if>
			<if test="useTime != null">
				use_time,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateId != null">
				update_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="couponId != null">
				#{couponId,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="grantRoleId != null">
				#{grantRoleId,jdbcType=INTEGER},
			</if>
			<if test="grantRoleType != null">
				#{grantRoleType,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="grantTime != null">
				#{grantTime,jdbcType=TIMESTAMP},
			</if>
			<if test="useTime != null">
				#{useTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				#{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="chinaPress.fc.coupon.model.FcDiscountCouponRecord">
		update fc_discount_coupon_record
		<set>
			<if test="couponId != null">
				coupon_id = #{couponId,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="grantRoleId != null">
				grant_role_id = #{grantRoleId,jdbcType=INTEGER},
			</if>
			<if test="grantRoleType != null">
				grant_role_type = #{grantRoleType,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				`status` = #{status,jdbcType=INTEGER},
			</if>
			<if test="grantTime != null">
				grant_time = #{grantTime,jdbcType=TIMESTAMP},
			</if>
			<if test="useTime != null">
				use_time = #{useTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				update_id = #{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="chinaPress.fc.coupon.model.FcDiscountCouponRecord">
		update fc_discount_coupon_record
		set coupon_id = #{couponId,jdbcType=INTEGER},
		code = #{code,jdbcType=VARCHAR},
		grant_role_id = #{grantRoleId,jdbcType=INTEGER},
		grant_role_type = #{grantRoleType,jdbcType=INTEGER},
		`status` = #{status,jdbcType=INTEGER},
		grant_time = #{grantTime,jdbcType=TIMESTAMP},
		use_time = #{useTime,jdbcType=TIMESTAMP},
		create_id = #{createId,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_id = #{updateId,jdbcType=INTEGER},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 查询未发放且未过期的优惠券 -->
	<select id="selectValidCouponCount" resultType="int">
		select
			count(*)
		from
			fc_discount_coupon_record a
		inner join fc_discount_coupon on a.coupon_id = b.i
		where
			a.status = 1
			and a.start_time <![CDATA[<=]]> now()
			and now() <![CDATA[<=]]> a.end_time
	</select>
	
	<!-- 查询未发放且未过期的优惠券 -->
	<select id="selectValidCouponList" resultType="chinaPress.fc.coupon.vo.FcDiscountValidCouponVo">
		select
			a.id, a.code
		from
			fc_discount_coupon_record a
		inner join fc_discount_coupon on a.coupon_id = b.id
		where
			a.status = 1
			and a.start_time <![CDATA[<=]]> now()
			and now() <![CDATA[<=]]> a.end_time
		limit
			#{offset}, #{rows}
	</select>
	
	<!-- 查询优惠券各个状态的发放数量 -->
	<select id="selectCouponCountByStatus" resultType="int">
		select
			count(*)
		from
			fc_discount_coupon_record
		where
			coupon_id = #{couponId}
			and status = #{status}
	</select>
	
	<!-- 查询优惠券明细 -->
	<select id="selectCouponRecordDetailCount" resultType="int">
		select
			count(*)
		from
			fc_discount_coupon_record a
		left join role_staff_archives b on a.grant_role_id = b.role_id and a.grant_role_type = b.role_type
		where
			a.coupon_id = #{couponId}
			<if test="code != null and code != ''">
				and a.code like concat('%', #{code}, '%')
			</if>
			<if test="grantRoleName != null and grantRoleName != ''">
				and b.name like concat('%', #{grantRoleName}, '%')
			</if>
			<if test="status != null">
				and a.status = #{status}
			</if>
			<if test="startTime != null and endTime != null and startTime != '' and endTime != ''">
				and a.use_time <![CDATA[>=]]> #{startTime}
				and a.use_time <![CDATA[<]]> date_add(#{endTime}, interval 1 day)
			</if>
	</select>
	
	<!-- 查询优惠券明细 -->
	<select id="selectCouponRecordDetailList" resultType="chinaPress.fc.coupon.vo.FcDiscountCouponRecordVo">
		select
			a.id, a.code, IFNULL(b.name, '-') grantRoleName,
			case a.grant_role_type when 1 then '员工' when 2 then '机构' when 3 then '家长' when 4 then '从业者'
			when 5 then '注册用户' else '-' end grantRoleTypeName, IFNULL(date_format(a.grant_time, '%Y/%m/%d %T'), '-') grantTime,
			IFNULL(b.tell_phone, '-') grantRolePhone, case a.status when 1 then '未发放' when 2 then '已领取' when 3 then '已核销'
			else '-' end statusName, IFNULL(date_format(a.use_time, '%Y/%m/%d %T'), '-') useTime
		from
			fc_discount_coupon_record a
		left join role_staff_archives b on a.grant_role_id = b.role_id and a.grant_role_type = b.role_type
		where
			a.coupon_id = #{couponId}
			<if test="code != null and code != ''">
				and a.code like concat('%', #{code}, '%')
			</if>
			<if test="grantRoleName != null and grantRoleName != ''">
				and b.name like concat('%', #{grantRoleName}, '%')
			</if>
			<if test="status != null">
				and a.status = #{status}
			</if>
			<if test="startTime != null and endTime != null and startTime != '' and endTime != ''">
				and a.use_time <![CDATA[>=]]> #{startTime}
				and a.use_time <![CDATA[<]]> date_add(#{endTime}, interval 1 day)
			</if>
		limit
			#{offset}, #{rows}
	</select>
	
	
	<!-- 查询我的优惠券 -->
	<select id="selectMyCouponRecordCount" resultType="int">
		select
			count(*)
		from
			fc_discount_coupon_record a
		inner join fc_discount_coupon b on a.coupon_id = b.id
		inner join fc_discount_coupon_course c on b.id = c.coupon_id
		inner join fc_course_archives d on c.course_id = d.id
		where
			a.grant_role_id = #{grantRoleId}
			and a.grant_role_type = #{grantRoleType}
			and b.type = #{type}
			<!-- 优惠券名称  -->
			<if test="name != null and name != ''">
				and b.name like concat('%', #{name} ,'%')
			</if>
			<!-- 优惠券编码 -->
			<if test="code != null and code != ''">
				and a.code like concat('%', #{code} ,'%')
			</if>
			<!-- 优惠券课程名称 -->	
			<if test="courseName != null and courseName != ''">
				and d.name like concat('%', #{courseName} ,'%')
			</if>
			<if test="searchTxt != null and searchTxt != ''">
				and (
					b.name like concat('%', #{searchTxt} ,'%')
					or a.code like concat('%', #{searchTxt} ,'%')
					or d.name like concat('%', #{searchTxt} ,'%')
				)
			</if>
			<!-- 未使用 -->
			<if test="status == 1">
				and a.status = 2 
			</if>
			<!-- 已过期 -->
			<if test="status == 2">
				and now() <![CDATA[>]]> b.end_time
			</if>
	</select>
	
	<!-- 查询我的优惠券 -->
	<select id="selectMyCouponRecordList" resultType="chinaPress.fc.coupon.vo.FcDiscountMyCouponRecordListVo">
		select
			a.id, b.name, b.enough_money enoughMoney, b.discount_money discountMoney,
			date_format(b.start_time, '%Y/%m/%d') startTime, 
			date_format(b.end_time, '%Y/%m/%d') endTime, a.code,
			d.name courseName
		from
			fc_discount_coupon_record a
		inner join fc_discount_coupon b on a.coupon_id = b.id
		inner join fc_discount_coupon_course c on b.id = c.coupon_id
		inner join fc_course_archives d on c.course_id = d.id
		where
			a.grant_role_id = #{grantRoleId}
			and a.grant_role_type = #{grantRoleType}
			and b.type = #{type}
			<!-- 优惠券名称  -->
			<if test="name != null and name != ''">
				and b.name like concat('%', #{name} ,'%')
			</if>
			<!-- 优惠券编码 -->
			<if test="code != null and code != ''">
				and a.code like concat('%', #{code} ,'%')		
			</if>		
			<!-- 优惠券课程名称 -->	
			<if test="courseName != null and courseName != ''">
				and d.name like concat('%', #{courseName} ,'%')
			</if>	
			<if test="searchTxt != null and searchTxt != ''">
				and (
					b.name like concat('%', #{searchTxt} ,'%')
					or a.code like concat('%', #{searchTxt} ,'%')
					or d.name like concat('%', #{searchTxt} ,'%')
				)
			</if>
			<!-- 未使用 -->
			<if test="status == 1">
				and a.status = 2 
			</if>
			<!-- 已过期 -->
			<if test="status == 2">
				and now() <![CDATA[>]]> b.end_time
			</if>
		limit
			#{offset}, #{rows}
	</select>
	
	<!-- 发放优惠券 -->
	<update id="grantCoupon">
		update
			fc_discount_coupon_record
		set
			grant_role_id = #{grantRoleId},
			grant_role_type = #{grantRoleType},
			status = 2,
			grant_time = now(),
			update_time = now()
		where
			id in
			<foreach collection="couponRecordIdList" open="(" close=")" item="couponRecordId" separator=",">
				#{couponRecordId}
			</foreach>
	</update>
	
	<!-- 根据优惠券编码，角色id，角色类型查询 -->
	<select id="selectOrderCoupon" resultType="chinaPress.fc.coupon.vo.FcOrderDiscountCoupon">
		select
			a.id, b.enough_money enoughMoney, b.discount_money discountMoney
		from
			fc_discount_coupon_record a
		inner join fc_discount_coupon b on a.coupon_id = b.id 
		where
			a.grant_role_id = #{grantRoleId}
			and a.grant_role_type = #{grantRoleType}
			and a.code = #{couponCode}
			and b.start_time <![CDATA[<=]]> now()
			and now() <![CDATA[<=]]> b.end_time
			and b.type = 1
			and a.status = 2
	</select>
</mapper>