<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="chinaPress.fc.order.dao.FcOrderPersonHourMapper">
	<resultMap id="BaseResultMap"
		type="chinaPress.fc.order.model.FcOrderPersonHour">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="order_person_id" jdbcType="INTEGER"
			property="orderPersonId" />
		<result column="hour_id" jdbcType="INTEGER" property="hourId" />
		<result column="is_pass" jdbcType="INTEGER" property="isPass" />
		<result column="pass_time" property="passTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, order_person_id, hour_id, is_pass, pass_time
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fc_order_person_hour
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insertSelective"
		parameterType="chinaPress.fc.order.model.FcOrderPersonHour">
		insert into fc_order_person_hour
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderPersonId != null">
				order_person_id,
			</if>
			<if test="hourId != null">
				hour_id,
			</if>
			<if test="isPass != null">
				is_pass,
			</if>
			<if test="passTime != null">
				pass_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orderPersonId != null">
				#{orderPersonId,jdbcType=INTEGER},
			</if>
			<if test="hourId != null">
				#{hourId,jdbcType=INTEGER},
			</if>
			<if test="isPass != null">
				#{isPass,jdbcType=INTEGER},
			</if>
			<if test="passTime != null">
				#{passTime},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="chinaPress.fc.order.model.FcOrderPersonHour">
		update fc_order_person_hour
		<set>
			<if test="orderPersonId != null">
				order_person_id = #{orderPersonId,jdbcType=INTEGER},
			</if>
			<if test="hourId != null">
				hour_id = #{hourId,jdbcType=INTEGER},
			</if>
			<if test="isPass != null">
				is_pass = #{isPass,jdbcType=INTEGER},
			</if>
			<if test="passTime != null">
				pass_time = #{passTime},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 修改是否通过 -->
	<update id="updateIsPass"
		parameterType="chinaPress.fc.order.model.FcOrderPersonHour">
		update fc_order_person_hour
		set is_pass = #{isPass,jdbcType=INTEGER},
		pass_time = #{passTime}
		where order_person_id = #{orderPersonId,jdbcType=INTEGER}
		AND hour_id = #{hourId,jdbcType=INTEGER}
	</update>
	
	<!-- 查询某课程第一次自测通过的时间 -->
	<select id="selectCourseFirstPassTime" resultType="java.util.Date">
		select 
			c.pass_time
		from fc_order a
		inner join fc_order_person b on a.id =  b.order_id
		inner join fc_order_person_hour c on b.id = c.order_person_id
		where
			a.course_id = #{courseId}
			and b.role_id = #{roleId}
			and b.role_type = #{roleType}
			and c.is_pass = 1
		order by
			c.id
		limit 1
	</select>
	
	<!-- 根据orderPersonId和hourId查询 -->
	<select id="selectByOrderPersonAndHour" resultMap="BaseResultMap">
		select
			*
		from 
			fc_order_person_hour
		where
			order_person_id = #{orderPersonId}
			and hour_id = #{hourId}
	</select>
	
	<!-- 查询某个人正在学习某课程的最新进度 -->
	<select id="selectTheNewestHour" resultType="java.lang.Integer">
		select
			d.section_id
		from
			fc_order a
		inner join fc_order_person b on a.id = b.order_id
		inner join fc_order_person_hour c on c.order_person_id = b.id
		inner join fc_course_hour d on c.hour_id = d.id
		where
			a.course_id = #{courseId}
			and a.start_time <![CDATA[<=]]> now()
			and now() <![CDATA[<=]]> a.end_time
			and b.role_type = #{roleType}
			and b.role_id = #{roleId}
			and c.is_pass != 1
	</select>
	
	<!-- 根据id删除 -->
	<delete id="deleteByOrderPersonIdAndHourId">
		delete
		from
			fc_order_person_hour
		where
			order_person_id = #{orderPersonId}
			and hour_id = #{hourId}
	</delete>
</mapper>